.Insolite {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.meme {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.excuse { 
    display: flex; 
    align-items: center; 
  } 

  .excuse-scroll { 
    max-height: 100%; 
    overflow: scroll; 
  }