.container-DetailsAlert{
margin: 0 auto;
display: flex;
width: 100%;

}


.divDetails{
    border: solid 1px green;
    height: 30vh;
    width: 100%;
    display: relative;

}

.picture{
    display: absolute;
    width: 100px;


}

