.DisplayComponent{
    width: 95%;
    height: 40vh;
    border: 2px black solid;
    display: none;
    flex-direction: column;
    border-radius: 25px;
    background-color: rgba(185, 185, 185, .55)
}

.sendButton{
    border: 2px black solid;
    border-radius: 25px;
    position: relative;
    top: 70px;
}