.frame {
    padding:20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copybutton {
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  display: none;
  background-color: #c4c4c4;
  color: black;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  /* display: flex; */
  /* justify-content: flex-end;
  border: 2px solid black; */
}

.copybutton:hover {
  background-color: black;
  color: white;
}
