/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body{
  font: normal 1em/1.5 'Roboto';
  background-color: #3a3d4a;
  color: #fff;
}
strong{
  color: #58ba83;
}

.heading{
  text-align: center;
  font-size:0.8em;
  
}
.Radio-group{
  width: 300px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: table;
  margin-left: -150px;
}

input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}

label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #454545;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  width: 140px;
  
}
input[type="radio"]:checked + label{
  background-color: #58ba83;
  width: 140px;
} */