html{
  width: 100%;
}

body{
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
}

.background{
  width: 100%;
  min-height: 120vh;
  max-height:140vh;
  margin: 0px;
  padding: 0px;
}

.background.transport{
  background: #4dcb7f; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #4dcb7f 0%, #4dcbbe 72%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #4dcb7f 0%,#4dcbbe 72%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #4dcb7f 0%,#4dcbbe 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dcb7f', endColorstr='#4dcbbe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
  background-repeat: no-repeat;
  min-height: 140vh;
}

.background.funny{
  background: rgb(203,127,77); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(203,127,77,1) 27%, rgba(203,77,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(203,127,77,1) 27%,rgba(203,77,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(203,127,77,1) 27%,rgba(203,77,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb7f4d', endColorstr='#cb4d99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



.Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.Cards {
  display: none;
  width: 100%;
  height: 100vh;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.Home {
  display: flex;
  align-items: center; 
  flex-direction: column;
}
